body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px; } }

.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block; }

.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal; }

.sweet-alert fieldset {
  border: none;
  position: relative; }

.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s; }

.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  transition: padding 0.25s, max-height 0.25s; }

.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px; }

.sweet-alert .sa-error-container p {
  display: inline-block; }

.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: all 0.1s; }

.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px; }

.sweet-alert .sa-input-error::before {
  transform: rotate(-45deg); }

.sweet-alert .sa-input-error::after {
  transform: rotate(45deg); }

.sweet-alert .sa-input-error.show {
  opacity: 1;
  transform: scale(1); }

.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  transition: all 0.3s; }

.sweet-alert input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed; }

.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd; }

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd; }

.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd; }

.sweet-alert.show-input input {
  display: block; }

.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative; }

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden; }

.sweet-alert button {
  background-color: #8CD4F5;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer; }

.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }

.sweet-alert button:hover {
  background-color: #7ecff4; }

.sweet-alert button:active {
  background-color: #5dc2f1; }

.sweet-alert button.cancel {
  background-color: #C1C1C1; }

.sweet-alert button.cancel:hover {
  background-color: #b9b9b9; }

.sweet-alert button.cancel:active {
  background-color: #a8a8a8; }

.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }

.sweet-alert button[disabled] {
  opacity: .6;
  cursor: default; }

.sweet-alert button.confirm[disabled] {
  color: transparent; }

.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; }

.sweet-alert button::-moz-focus-inner {
  border: 0; }

.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important; }

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px; }

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box; }

.sweet-alert .sa-icon.sa-error {
  border-color: #F27474; }

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block; }

.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  transform: rotate(45deg);
  left: 17px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  transform: rotate(-45deg);
  right: 16px; }

.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-success {
  border-color: #A5DC86; }

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: '';
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  transform: rotate(-45deg);
  transform-origin: 60px 60px; }

.sweet-alert .sa-icon.sa-success::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0px 60px; }

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat; }

/*
 * Animations
 */

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

.showSweetAlert[data-animation=pop] {
  animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
  animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
  animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
  animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
  animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
  animation: slideToBottom 0.3s; }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  animation: rotatePlaceholder 4.25s ease-in; }

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

.animateErrorIcon {
  animation: animateErrorIcon 0.5s; }

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.animateXMark {
  animation: animateXMark 0.5s; }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

.pulseWarning {
  animation: pulseWarning 0.75s infinite alternate; }

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

.pulseWarningIns {
  animation: pulseWarningIns 0.75s infinite alternate; }

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

/*
 * Animation
 */

@keyframes ball-fall {
  0% {
    opacity: 0;
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    transform: translateY(0); }
  80% {
    opacity: 1;
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    transform: translateY(145%); } }

/**
 * SASS Partials : main.scss
 * Includes styles for general pages
 * Author : Virgilio Lalamoro 8/9/2016
 */
@media screen {
  #page-sidebar {
    width: 250px; }
  #page-content {
    margin-left: 250px; }
  #page-header {
    padding-left: 250px; }
    #page-header #header-nav-left {
      margin-right: 15px; }
  span.req {
    color: #FF5043;
    line-height: 1; }
  #loading .svg-icon-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px; }
  #birthdayPicker select {
    font-size: 13px;
    display: inline-block;
    float: none;
    background: #fff;
    width: auto;
    height: 34px;
    padding: 6px 12px;
    color: #2b2f33;
    border: #dfe8f1 solid 1px;
    box-shadow: inset 0 0 1px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  #birthdayPicker select + select {
    margin-left: 10px; }
  .form-validation-true input.error {
    border-color: #F44336 !important; }
  .form-validation-true label.error {
    border-color: #db6a6a;
    background: #ffc6c6;
    border-radius: 3px;
    color: #620f0f;
    display: block;
    font-weight: normal;
    margin-top: 15px;
    padding: 5px;
    position: relative;
    text-align: left; }
  .breadcrumb {
    background: #FFFFFF;
    color: #858598;
    margin-bottom: 5px;
    padding: 0;
    list-style-type: none;
    padding-top: 10px;
    margin-top: 0; }
    .breadcrumb li {
      display: inline-block; }
    .breadcrumb li + li:before {
      content: '/';
      margin-right: 4px; }
    .breadcrumb a {
      color: #03A9F4; }
  #page-title hr {
    color: #fff;
    margin: 10px 0 15px; }
  #sidebar-menu > li a {
    text-decoration: none; }
  .sweet-overlay {
    background: rgba(0, 0, 0, 0.7); }
  .sweet-alert {
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.3) !important;
    border-radius: 0; }
    .sweet-alert button {
      border-radius: 0; } }

@media screen {
  .select-syion {
    display: inline-block;
    margin: 12px 20px 0 0;
    position: relative;
    vertical-align: top; }
    .select-syion .chosen-container {
      min-width: 250px !important; } }

@media screen {
  .list-expense li {
    padding: 15px 0; }
  .list-expense li + li {
    border-top-width: 1px;
    border-top-style: dashed;
    border-color: rgba(158, 173, 195, 0.16); }
  .list-expense p {
    line-height: 1;
    margin-bottom: 0; }
  .list-expense p + p {
    margin-top: 10px; }
  .list-expense span.font-gray {
    display: block;
    line-height: 1; } }

@media screen {
  .creating-category-col .input-group,
  .creating-payment-col .input-group,
  .creating-currency-col .input-group {
    min-width: 300px; }
  .creating-category-col .validation-inputs,
  .creating-category-col .validation-response,
  .creating-payment-col .validation-inputs,
  .creating-payment-col .validation-response,
  .creating-currency-col .validation-inputs,
  .creating-currency-col .validation-response {
    display: inline-block;
    vertical-align: middle; }
  .table-categories .section-child-categories > span {
    display: block;
    margin-top: 10px; }
  .table-categories .section-child-categories .table > thead > tr > th, .table-categories .section-child-categories .table > tbody > tr > th,
  .table-categories .section-child-categories .table > tfoot > tr > th, .table-categories .section-child-categories .table > thead > tr > td,
  .table-categories .section-child-categories .table > tbody > tr > td, .table-categories .section-child-categories .table > tfoot > tr > td {
    padding: 5px 15px; } }

@media screen {
  .page-annual-report .legend-year {
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    height: 25px;
    width: 60px;
    vertical-align: middle; }
  .page-annual-report .legend-year-previous {
    border-color: #98b1d3;
    background-color: rgba(152, 177, 211, 0.7); }
  .page-annual-report .legend-year-current {
    border-color: #3070cf;
    background-color: rgba(48, 112, 207, 0.7); }
  .page-annual-report .morris-hover.morris-default-style {
    background: #fff; } }

@media screen {
  .form-group + .form-file-inputs {
    border-top: 1px solid #e5e5e5;
    padding-top: 15px; }
  .form-file-inputs .file-row + .file-row,
  .form-file-inputs .box-attachment + .box-attachment {
    margin-top: 10px; }
  .form-file-inputs .file-row img,
  .form-file-inputs .box-attachment img {
    border: 1px solid #e5e5e5; } }

@media screen {
  .filter-options {
    border-bottom: 1px solid #DFE8F1;
    margin-bottom: 10px;
    padding-bottom: 10px; }
    .filter-options .control-label {
      display: block; }
    .filter-options .form-group + .form-group {
      border-left: 1px solid #EBEFF4;
      margin-left: 10px;
      padding-left: 13px; }
    .filter-options .go-btn-group.form-group {
      border-left: 0;
      margin-left: 0; }
    .filter-options .form-group .form-control {
      min-width: 120px; } }

@media screen {
  .view-trash {
    float: right;
    font-size: 14px; }
    .view-trash span {
      margin: 0; }
  .view-archives {
    float: right;
    margin-right: 10px;
    font-size: 10px; }
    .view-archives span {
      margin: 0; }
  .form-search {
    float: right;
    width: auto; }
    .form-search input[name*="search_"] {
      min-width: 280px; }
    .form-search .glyph-icon {
      margin: 0; }
  .table-actions {
    margin: 0 0 25px; }
  .card-column-wrapper {
    overflow: auto;
    margin: 0 0 30px; }
  .card-columns {
    min-height: 500px; }
    .card-columns .card-column {
      float: left;
      width: 380px;
      margin-right: 20px; }
    .card-columns .card-item-wrapper {
      padding: 5px;
      position: relative;
      background: #EDEFF0;
      margin: 0 0 5px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px; }
      .card-columns .card-item-wrapper .task-remove {
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -8.5px;
        line-height: 1;
        font-size: 16px;
        opacity: 1;
        z-index: 1;
        color: #F44336;
        opacity: 0.6;
        filter: alpha(opacity=60);
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s; }
        .card-columns .card-item-wrapper .task-remove:hover {
          opacity: 1;
          filter: alpha(opacity=100); }
      .card-columns .card-item-wrapper .card-item {
        padding: 10px 15px; }
        .card-columns .card-item-wrapper .card-item .card-item-name {
          background: transparent;
          width: 100%;
          resize: none;
          border: 0; }
    .card-columns .title-hero .glyph-icon {
      margin-right: 7px; }
    .card-columns .card-title {
      background: transparent;
      width: 75%;
      resize: none;
      border: 1px solid #d2d2d2;
      padding: 8px 15px; }
  .add-card {
    margin-right: 10px; }
  .card-archives {
    font-size: 30px;
    line-height: 1; }
  .user-list {
    margin: 0; }
    .user-list .user-item {
      border: 2px solid transparent;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin: 0 -2px;
      width: 25%; }
      .user-list .user-item img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: inline-block; }
      .user-list .user-item small {
        display: block;
        margin: 8px 0 0; }
    .user-list.task-member-list .user-item {
      width: auto; }
  .search-members .user-list .user-item img {
    border: 4px solid transparent;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
    width: 40px;
    height: 40px; }
  .search-members .user-list .user-item.active img {
    border: 4px solid #08ea08; }
  .search-member {
    margin: 0 0 10px; }
  /** Context Menu **/
  .context-wrapper {
    position: relative; }
    .context-wrapper .contextmenu {
      position: absolute;
      width: 190px;
      height: auto;
      background: #fff;
      box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.4);
      margin: auto;
      z-index: 1; }
      .context-wrapper .contextmenu:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #E2E4E6;
        font-size: 0;
        position: absolute;
        left: -10px;
        top: 50%;
        margin-top: -10px; }
      .context-wrapper .contextmenu .context-item {
        cursor: pointer;
        padding: 5px 15px;
        line-height: 1.4; }
        .context-wrapper .contextmenu .context-item:hover {
          background: #59bc5d;
          color: #fff; }
  /** Popover **/
  .popover .popover-close {
    background: transparent;
    border: 0;
    margin-top: 7px; }
  form .form-inline .form-group {
    margin: 0; }
  form input[type="file"] {
    width: auto;
    display: inline-block;
    padding: 0;
    border: 0;
    box-shadow: none; }
  form img.img-responsive {
    max-width: 100%;
    width: auto;
    height: auto; }
  .sortable {
    font-size: 14px; }
    .sortable .ui-sortable-handle {
      width: 540px;
      padding: 7px 10px 7px 15px;
      position: relative;
      border: 1px solid #92A0B3;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      margin: 0 0 5px;
      cursor: move;
      background: #fafafa;
      font-weight: 700; }
      .sortable .ui-sortable-handle:before {
        content: "\f07d";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        background: none;
        speak: none;
        position: absolute;
        top: 8px;
        left: 5px;
        color: #92A0B3; }
      .sortable .ui-sortable-handle .task-subcat {
        font-weight: 400; }
    .sortable .ui-sortable-helper td {
      width: 1%; }
    .sortable ol {
      list-style: none;
      padding-left: 20px; }
  .ui-state-default.ui-state-highlight {
    border-color: pink;
    background-color: pink;
    color: #fff; }
  form .form-control {
    min-width: 165px; }
  .daterange-picker {
    min-width: 165px; }
  .clockpicker-button {
    padding: 0; }
  .table-filter {
    margin: 0 0 10px; }
    .table-filter.project-filter .select2 {
      min-width: 0; }
  .select2 {
    min-width: 280px; }
  .select2-container {
    display: block;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dfe8f1;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
    .select2-container .selection {
      border: 0;
      display: block;
      height: 34px;
      width: 100%; }
      .select2-container .selection .select2-selection {
        border: 0;
        display: block; }
  .form-project-status {
    display: none; }
    .form-project-status.completed {
      display: block; }
  .nav.nav-tabs {
    margin: 20px 0 0; }
  .dataTables_length {
    margin: 10px 0 0; }
  .table tr span {
    color: #fff;
    padding: 2px 10px;
    display: inline-block;
    min-width: 45px;
    text-align: center;
    background: #4CAF50; }
    .table tr span.inc {
      background: #E91E63; }
  .table tr td.edited {
    background: #f4dcd5; }
  #notifications-btn {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0 0;
    padding-right: 20px;
    font-size: 20px; }
    #notifications-btn a .small-badge {
      top: -5px;
      height: 25px;
      width: 25px;
      opacity: 1;
      filter: alpha(opacity=100);
      font-size: 10px;
      font-weight: 700;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center; }
  ul.notifications-box li span.clear-notif {
    font-size: 16px; }
  ul.notifications-box li span.notification-text {
    width: 80%; }
  .employee-tracks-wrapper h4 {
    margin: 0 0 10px;
    font-size: 25px; }
    .employee-tracks-wrapper h4:first-of-type {
      margin: 45px 0 0; }
  .employee-tracks-wrapper .table,
  .employee-tracks-wrapper .dataTables_wrapper {
    margin: 0 0 65px; }
  .font-bold {
    font-weight: bold; }
  .cursor-pointer {
    cursor: pointer; }
  .cursor-move {
    cursor: pointer; }
  .item-hover {
    transitiion: all .4s;
    -webkit-transitiion: all .4s;
    -ms-transitiion: all .4s;
    -o-transitiion: all .4s;
    opacity: 0.8;
    filter: alpha(opacity=80); }
    .item-hover:hover {
      opacity: 1;
      filter: alpha(opacity=100); }
  .pull-right {
    margin-left: 5px; } }

/*# sourceMappingURL=app.css.map */
