@media screen {


	.view-trash {
		float: right;
		font-size: 14px;

		span {
			margin: 0;
		}
	}

	.view-archives {
		float: right;
		margin-right: 10px;
		font-size: 10px;

		span {
			margin: 0;
		}
	}

	.form-search {
		float: right;
		width: auto;

		input[name*="search_"] {
			min-width: 280px;
		}

		.glyph-icon {
			margin: 0;
		}
	}

	.table-actions {
		margin: 0 0 25px;
	}

	.card-column-wrapper {
		overflow: auto;
		margin: 0 0 30px;
	}
	.card-columns {
		min-height: 500px;

		.card-column {
			float: left;
			width: 380px;
			margin-right: 20px;
		}

    	.card-item-wrapper {
    		padding: 5px;	      
        	position: relative;
        	background: #EDEFF0;
        	margin: 0 0 5px;
        	border-radius: 3px;
        	-webkit-border-radius: 3px;
        	-moz-border-radius: 3px;
        	-ms-border-radius: 3px;  	

        	.task-remove {
	    		position: absolute;
	    		right: 15px;
	    		top: 50%;
	    		margin-top: -8.5px;
	    		line-height: 1;
	    		font-size: 16px;
	    		opacity: 1;
	    		z-index: 1;
	    		color: #F44336;
	    		opacity: 0.6;
	    		filter: alpha(opacity=60);
	    		transition: all .4s;
	    		-webkit-transition: all .4s;
	    		-moz-transition: all .4s;
	    		-ms-transition: all .4s;

	    		&:hover {
	    			opacity: 1;
	    			filter: alpha(opacity=100);
	    		}
	    	}

    		.card-item {		    
    			padding: 10px 15px;

	        	.card-item-name {
	        		background: transparent;
	        		width: 100%;
	        		resize: none;
	        		border: 0;
	        	}
	        }
    	}

        .title-hero {
        	.glyph-icon {
        		margin-right: 7px;
        	}
        }

        .card-title {
        	background: transparent;
    		width: 75%;
    		resize: none;
    		border: 1px solid #d2d2d2;
    		padding: 8px 15px;
        }
	}

	.add-card {
		margin-right: 10px;
	}

	.card-archives {
		font-size: 30px;
		line-height: 1;
	}

	.user-list {
		margin: 0;

		.user-item {
			border: 2px solid transparent;
			text-align: center;
			display: inline-block;
			vertical-align: top;
			margin: 0 -2px;
			width: 25%;

			img {
				width: 40px;
				height:  40px;
				cursor: pointer;
				display: inline-block;
			}

			small {
				display: block;
				margin: 8px 0 0;
			}
		}

		&.task-member-list {
			.user-item {
				width: auto;
			}
		}
	}

	.search-members {
		.user-list {
			.user-item {				
				img {
					border: 4px solid transparent;
					box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
					width: 40px;
					height:  40px;
				}

				&.active {
					img {
						border: 4px solid #08ea08;
					}
				}
			}
		}
	}

	.search-member {
		margin: 0 0 10px;
	}

	/** Context Menu **/
	.context-wrapper {
		position: relative;

		.contextmenu {	
			position: absolute;
			width: 190px;
			height: auto;
			background: #fff;
			box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.4);
			margin: auto;
			z-index: 1;

			&:before {
				content: "";
				width: 0; 
				height: 0; 
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent; 
				border-right:10px solid #E2E4E6; 
				font-size: 0;
				position: absolute;
				left: -10px;
				top: 50%;
				margin-top: -10px;
			}

			.context-item {
				cursor: pointer;
				padding: 5px 15px;
				line-height: 1.4;

				&:hover {
					background: #59bc5d;
					color: #fff;
				}
			}
		}
	}

	/** Popover **/
	.popover {
		.popover-close {
			background: transparent;
			border: 0;
			margin-top: 7px;
		}
	}

	form {
		.form-inline {
			.form-group {
				margin: 0;
			}
		}

		input[type="file"] {
			width: auto;
			display: inline-block;
			padding: 0;
			border: 0;
			box-shadow: none;
		}

		img.img-responsive {
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}

	// Jquery Sortable
	.sortable {
		font-size: 14px;

		.ui-sortable-handle {
			width: 540px;
			padding: 7px 10px 7px 15px;
			position: relative;
			border: 1px solid #92A0B3;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			margin: 0 0 5px;
			cursor: move;
			background: #fafafa;
			font-weight: 700;

			&:before {
				content: "\f07d";
				font-family: FontAwesome;
				font-weight: normal;
				font-style: normal;
				display: inline-block;
				text-align: center;
				text-decoration: none;
				background: none;
				speak: none;
				position: absolute;
				top: 8px;
				left: 5px;
				color: #92A0B3;
			}

			.task-subcat {
				font-weight: 400;
			}
		}

		.ui-sortable-helper {
			td {
				width: 1%;
			}
		}

		ol {
			list-style: none;
			padding-left: 20px;
		}
	}

	// FORMS
	// Datepicker
	.ui-state-default.ui-state-highlight {
		border-color: pink;
		background-color: pink;
		color: #fff;
	}

	form {
		.form-control {
			min-width: 165px;
		}
	}

	// Daterange picker
	.daterange-picker {
		min-width: 165px;
	}

	// Clockpicker 
	.clockpicker-button {
		padding: 0;
	}

	.table-filter {
		margin: 0 0 10px;

		&.project-filter {
			.select2 {
				min-width: 0;
			}
		}
	}

	// Select2
	.select2 {
		min-width: 280px;
	}
	.select2-container {
		display: block;
		height: 34px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #dfe8f1;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

		.selection {
			border: 0;
			display: block;
			height: 34px;
			width: 100%;

			.select2-selection {
				border: 0;
				display: block;
			}
		}
	}

	.form-project-status {
		display: none;

		&.completed {
			display: block;
		}
	}

	// Tabs
	.nav.nav-tabs {
		margin: 20px 0 0;
	}
	.nav-tabs ~ .dataTables_wrapper table.table,
	.nav-tabs ~ table.table {
	}

	// DataTables
	.dataTables_length {
		margin: 10px 0 0;
	}

	.table {
		tr {

			span {				
				color: #fff;
				padding: 2px 10px;
				display: inline-block;
				min-width: 45px;
				text-align: center;
				background: #4CAF50;
	
				&.inc {
					background: #E91E63;
				}
			}

			td.edited {
				background: #f4dcd5;
			}
		}
	}

	//  Notifications
	#notifications-btn {
		display: inline-block;
		vertical-align: top;
		margin: 15px 0 0;
		padding-right: 20px;
		font-size: 20px;

		a {
			.small-badge {
				top: -5px;
				height: 25px;
				width: 25px;
				opacity: 1;
				filter: alpha(opacity=100);
				font-size: 10px;
				font-weight: 700;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	ul.notifications-box {
		li {
			span {
				&.clear-notif {
					font-size: 16px;
				}

				&.notification-text {
					width: 80%;
				}
			}
		}
	}


	// Specifics
	// Employee tracks
	.employee-tracks-wrapper {
		h4 {
			margin: 0 0 10px;
			font-size: 25px;

			&:first-of-type {
				margin: 45px 0 0;
			}
		}

		.table,
		.dataTables_wrapper {
			margin: 0 0 65px;
		}
	}

	//ADDITIONAL HELPER CLASSES
	.font-bold {
		font-weight: bold;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.cursor-move {
		cursor: pointer;
	}

	.item-hover {
		transitiion: all .4s;
		-webkit-transitiion: all .4s;
		-ms-transitiion: all .4s;
		-o-transitiion: all .4s;
		opacity: 0.8;
		filter:  alpha(opacity=80);

		&:hover {
			opacity: 1;
			filter:  alpha(opacity=100);
		}
	}

	.pull-right {
		margin-left: 5px;
	}

}