@media screen {
	.creating-category-col,
	.creating-payment-col,
	.creating-currency-col {
		.input-group {
			min-width: 300px;
		}
		
		.validation-inputs,
		.validation-response {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.table-categories {
		.section-child-categories {
			> span {
				display: block;
				margin-top: 10px;
			}

			.table > thead > tr > th, .table > tbody > tr > th, 
			.table > tfoot > tr > th, .table > thead > tr > td, 
			.table > tbody > tr > td, .table > tfoot > tr > td {
				padding: 5px 15px;
			}
		}
	}
}