@media screen {

	.list-expense {
		li {
			padding: 15px 0;
		}

		li + li {
			border-top-width: 1px;
			border-top-style: dashed;
			border-color: rgba(158, 173, 195, 0.16);
		}

	 	p {
			line-height: 1;
			margin-bottom: 0;
	 	}

	 	p + p {
	 		margin-top: 10px;
	 	}

		span.font-gray {
			display: block;
			line-height: 1;
		}
	}

	.list-recurring-expense {

	}
}