@media screen {
	
	.form-group + .form-file-inputs {
		border-top: 1px solid #e5e5e5;
		padding-top: 15px;
	}
	
	.form-file-inputs {

		.file-row + .file-row,
		.box-attachment + .box-attachment {
			margin-top: 10px;
		}

		.file-row img,
		.box-attachment img {
			border: 1px solid #e5e5e5;
		}
	}
}