@import 'dashboard';
@import 'category';
@import 'reports';
@import 'expense';

@media screen {
	.filter-options {
		border-bottom: 1px solid #DFE8F1;
		margin-bottom: 10px;
		padding-bottom: 10px;

		.control-label {
			display: block;
		}

		.form-group + .form-group {
			border-left: 1px solid #EBEFF4;
			margin-left: 10px;
			padding-left: 13px;
		}

		.go-btn-group.form-group {
			border-left: 0;
			margin-left: 0;
		}

		.form-group {
			.form-control {
				min-width: 120px;
			}
		}
	}
}