@media screen {
	.page-annual-report {
		.legend-year {
			border-width: 2px;
			border-style: solid;
			display: inline-block;
			height: 25px;
			width: 60px;
			vertical-align: middle;
		}
		
		.legend-year-previous {
			border-color: rgba(152,177,211,1);
			background-color: rgba(152,177,211,0.7);
		}

		.legend-year-current {
			border-color: rgba(48,112,207,1);
			background-color: rgba(48,112,207,0.7);
		}

		.morris-hover.morris-default-style {
			background: #fff;
		}
	}
}