/**
 * SASS Partials : main.scss
 * Includes styles for general pages
 * Author : Virgilio Lalamoro 8/9/2016
 */

 @media screen {
 	// General Page Settings
 	#page-sidebar {
		width: 250px;
 	}
	
	#page-content {
		margin-left: 250px;
	}

	#page-header {
		padding-left: 250px;

		#header-nav-left {
			margin-right: 15px;
		}
	}
	
	// Misceallaneuos
	span.req {
		color: #FF5043;
		line-height: 1;
	}

	// Preloader
	#loading .svg-icon-loader {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -50px;
	}

	// Custom Inputs
	#birthdayPicker {

		select {
			font-size: 13px;
			display: inline-block;
			float: none;
			background: #fff;
			width: auto;
			height: 34px;
			padding: 6px 12px;
			color: #2b2f33;
			// border-radius: 3px;
			border: #dfe8f1 solid 1px;
			box-shadow: inset 0 0 1px;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
		}

		select + select {
			margin-left: 10px;
		}
	}

	// General Form with Validations
	.form-validation-true {
		input {

			&.error {
				border-color: #F44336 !important;
			}
		}

		label.error {
			border-color: #db6a6a;
			background: #ffc6c6;
			border-radius: 3px;
			color: #620f0f;
			display: block;
			font-weight: normal;
			margin-top: 15px;
			padding: 5px;
			position: relative;
			text-align: left;
		}
	}

	// Breadcrumb Customization
	.breadcrumb {
		background: #FFFFFF;
		color: #858598;
		margin-bottom: 5px;
		padding: 0;
		list-style-type: none;
		padding-top: 10px;
		margin-top: 0;

		li {
			display: inline-block;
		}

		li + li:before {
			content: '/';
			margin-right: 4px;
		}

		a {
			color: #03A9F4;
		}
	}

	// Page Title Customization
	#page-title {
		hr {
			color: #fff;
			margin: 10px 0 15px;
		}
	}

	// Main Sidebar
	#sidebar-menu > li  a {
		text-decoration: none;
	}

	// Sweetalert Custom Styles
	.sweet-overlay {
		background: rgba(0,0,0,.7);
	}

	.sweet-alert {
		box-shadow: 0 15px 45px rgba(0, 0, 0, .3) !important;
		border-radius: 0;

		button {
			border-radius: 0;
		}
	}
}